body
{
    margin: 0;
    font-size: 16px;
}

.newspaper
{
    padding: 20px 40px;
    background-color: #ffe;
}

.image
{
    width: 100%;
}

.center
{
    text-align: center;
}

.margin
{
    margin: 10px;
}

.underline
{
    border-bottom: 3px double black;
}

.right
{
    text-align: right;
}

.bold
{
    font-weight: bold;
}

.vertical
{
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
}

.wordwrap
{
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
