@font-face
{
    src: url('https://fonts.googleapis.com/css?family=Abril+Fatface|Amatic+SC|EB+Garamond|Patua+One|Srisakdi');
}

@font-face
{
    font-family: 'Nautilus';
    src: local('Nautilus'), url('Nautilus Pompilius/Nautilus.otf') format('truetype');
}

.black:checked ~ .newspaper,
.black:checked ~ header
{
    background: #000;
    color: #fff;
    column-rule: 1px solid #fff;
    border: 1px solid #000;
}

.black:checked ~ header .info
{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.black:checked ~ .newspaper .subtitle
{
    border-top: 3px double #fff;
    border-bottom: 3px double #fff;
}

.black:checked ~ .newspaper .vertical
{
    border: 1px solid #fff;
}

.white:checked ~ .newspaper,
.white:checked ~ header
{
    background: #fff;
    color: #000;
}

.large-font:checked ~ .newspaper,
.large-font:checked ~ header
{
    font-size: 18px;
}

.default-font:checked ~ .newspaper,
.default-font:checked ~ header
{
    font-size: 16px;
}

.small-font:checked ~ .newspaper,
.small-font:checked ~ header
{
    font-size: 14px;
}

.nautilus-style:checked ~ .newspaper .text,
.nautilus-style:checked ~ .newspaper .vertical,
.nautilus-style:checked ~ header
{
    font-family: 'Nautilus', serif;
}

.arial-style:checked ~ .newspaper .text,
.arial-style:checked ~ .newspaper .vertical,
.arial-style:checked ~ header
{
    font-family: 'Arial', Helvatic, sans-serif;
}

body
{
    min-width: 500px;
    white-space: nowrap;
}

header
{
    margin: 0;
}

.newspaper
{
    column-count: 4;
    column-rule: 1px solid #000;
    white-space: normal;
    padding-top: 5px;
}

.title
{
    text-align: center;
    white-space: normal;
}

.title .title
{
    font-family: 'Abril Fatface', serif;
    font-style: normal;
    white-space: normal;
}

.text-introduction
{
    font-family: 'Amatic SC', serif;
    font-style: oblique;
    white-space: normal;
}

.text
{
    font-family: 'EB Garamond', serif;
    font-style: italic;
    padding: 2px;
    white-space: normal;
    margin: 0 auto;
}

p.text::first-letter
{
    color: #ffc0cb;
    font-size: 25px;
    font-family: 'Srisakdi', serif;
    font-style: italic;
}

.subtitle
{
    font-family: 'Patua One', cursive;
    font-style: normal;
    border-top: 3px double #000;
    border-bottom: 3px double #000;
    padding: 10px 0;
    text-align: center;
    white-space: normal;
}

.quote:before
{
    content: '«';
}

.quote:after
{
    content: '»';
}

.copyright
{
    padding-left: 450px;
}

.info
{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    column-count: 2;
    display: flex;
}

.date
{
    padding-left: 5px;
    padding-top: 18px;
    text-align: left;
}

.rubric-name
{
    flex-grow: 1;
    text-align: right;
    padding: 1px 0 0 5px;
}

.text-introduction
{
    text-align: center;
}

.king-of-glam-rock img[alt='David gif']
{
    display: block;
    margin: auto;
}

.introduction img[alt='David Bowie']
{
    display: block;
    width: auto;
    margin: auto;
}

.debut-album img[alt='Album']
{
    display: block;
    width: 100%;
    margin: auto;
}

.column-with-img
{
    column-count: 2;
    margin: 10px;
}

.text.with-column
{
    column-count: 2;
}

.vertical
{
    writing-mode: vertical-lr;
    text-orientation: upright;
    border: 1px solid #000;
    text-align: center;
    float: right;
}
