@font-face
{
    font-family: 'customHeaderFont';
    src: url('fonts/header_font.ttf');
}

body
{
    background-color: #fff4de;
    min-width: 1200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}

section
{
    float: left;
    text-align: center;
    padding: 10px;
    font-size: 1em;
    min-height: 500px;
}

.wide
{
    width: 30.96%;
}

.tight
{
    width: 15%;
}

.mets
{
    border: 2px solid black;
}

.nobel
{
    float: right;
    border: 2px solid black;
}

.meeting
{
    border-right: 2px solid black;
}

.layout
{
    width: 93%;
    margin: auto;
    padding: 40px 30px 10px;
    box-shadow: 0 0 30px 14px rgba(0,0,0,.3), 0 0 10px rgba(0,0,0,.3);
}

.wrapper
{
    width: 100%;
    height: 110px;
    text-align: center;
}

.block
{
    height: 80px;
    width: 220px;
    padding: 5px;
    border: 2px solid black;
    text-align: justify;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.block.left
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

.block.right
{
    font-size: .75em;
    font-weight: bold;
}

.columns
{
    column-count: 2;
    column-rule: 2px solid black;
    column-gap: 20px;
    column-fill: balance;
}

.quote
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    border: 2px solid black;
    margin: 5px 0;
}

.line
{
    padding: 2.5px 0;
    width: 100%;
    text-align: center;
    border-top: 5px double black;
    border-bottom: 5px double black;
    font-style: oblique;
    font-weight: 600;
    margin-bottom: 20px;
    clear: both;
}

.verticalText
{
    float: right;
    font-size: 1.5em;
    padding: 7px 2px;
    margin: 10px 0 0 10px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -3px;
    border: 2px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
    font-weight: bold;
}

p
{
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: bold;
    font-size: .8em;
    text-align: justify;
    text-indent: 1em;
}

p::first-letter
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    font-weight: 900;
}

hr
{
    border-style: solid;
    color: black;
    width: 95%;
}

.shortline
{
    width: 60%;
}

.headline1
{
    font-family: 'customHeaderFont', sans-serif;
    font-size: 4.3em;
}

img
{
    display: block;
    width: 99%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
}

h2,
h3
{
    margin: 0;
    text-align: center;
}

h2
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
    font-weight: bold;
}

h3
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.oblique
{
    font-style: oblique;
}

input[value='small']:checked ~ main article
{
    font-size: .7em;
}

input[value='medium']:checked ~ main article
{
    font-size: 1em;
}

input[value='big']:checked ~ main article
{
    font-size: 1.3em;
}

input[value='standart']:checked ~ main p
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}

input[value='courier']:checked ~ main p
{
    font-family: 'Courier New', Courier, monospace;
}

input[value='impact']:checked ~ main p
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input[value='dark']:checked ~ main
{
    color: white;
    background-image: url('pictures/dark_theme.png');
    background-repeat: repeat;
}

input[value='dark']:checked ~ main section,
input[value='dark']:checked ~ main .line,
input[value='dark']:checked ~ main .quote,
input[value='dark']:checked ~ main .block,
input[value='dark']:checked ~ main .verticalText
{
    border-color: white;
}

input[value='dark']:checked ~ main .columns
{
    column-rule-color: white;
}

input[value='dark']:checked ~ main hr
{
    color: white;
}

input[value='light']:checked ~ main
{
    background-image: url('pictures/light_theme.png');
    background-repeat: repeat;
    color: black;
}
