@font-face
{
    font-family: old-font;
    src: url(fonts/font.ttf);
}

body
{
    min-width: 900px;
}

h1
{
    font-family: old-font, cursive;
    text-align: center;
    font-size: 80px;
}

h2,
h3
{
    font-family: old-font, cursive;
    text-align: center;
    border-bottom: 2px solid #000;
}

.size:checked ~ .site-info
{
    zoom: 2;
}

.dark:checked ~ .site-info
{
    background-color: black;
    color: white;
}

.font-style:checked ~ .site-info
{
    font-family: 'Droid Sans Georgian', cursive, 'Noto Serif Armenian';
}

p::first-letter
{
    font-family: cursive;
    font-size: 50px;
}

p
{
    border-bottom: 2px solid #000;
    hyphens: auto;
}

img
{
    width: 500px;
    height: 600px;
}

.vert-text
{
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
    min-width: 40px;
    padding-top: 20px;
}

.text-cont
{
    display: flex;
    outline: 4px solid #000;
}

.text-cont > div
{
    padding: 0 8px 8px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

div.wide
{
    width: 50%;
}

.text-cont div:last-child
{
    border-right: none;
}

.columns
{
    column-count: 2;
    column-rule: 2px solid #000;
}

h3.in-colonms
{
    column-span: all;
    border-bottom: none;
}
