@font-face
{
    font-family: customHeaderFont;
    src: url('fonts/header_font.ttf');
}

body
{
    min-width: 1200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.layout
{
    background-image: url('pictures/texture.png');
    background-repeat: repeat;
    width: 95%;
    margin: auto;
    padding: 50px 30px;
    box-shadow: 0 0 28px 7px rgba(0,0,0,.25), 0 0 10px rgba(0,0,0,.22);
}

.wrapper
{
    width: 100%;
    height: 110px;
    text-align: center;
}

.headline
{
    display: inline;
    font-family: customHeaderFont, sans-serif;
    font-size: 4.5em;
    text-align: center;
}

.block
{
    height: 80px;
    width: 220px;
    padding: 5px;
    border: 2px solid black;
    text-align: justify;
}

.left
{
    float: left;
}

.block.right
{
    font-size: .8em;
    font-weight: 700;
}

.right
{
    float: right;
}

.line
{
    padding: 2.5px 0;
    width: 100%;
    text-align: center;
    border-top: 2px double black;
    border-bottom: 2px double black;
    font-style: oblique;
    font-weight: 600;
}

h2
{
    margin-block-start: 0;
    margin-block-end: 0;
}

p
{
    text-align: justify;
}
