@font-face
{
    font-family: MuggleNews;
    src: url(mugglenews.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: Fontscafe;
    src: url(Fontscafe.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: LaurenScript;
    src: url(LaurenScript.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: BlackCastleMF;
    src: url(BlackCastleMF.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: Headth;
    src: url(Headth.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: Headoh;
    src: url(Headoh.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: LinaScript;
    src: url(LinaScriptDemo.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: GothicLove;
    src: url(GothicLoveLetters.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: CapitularFloral;
    src: url(CapitularFloral.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: Royal;
    src: url(Royal2.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: Flower;
    src: url(Flower.ttf);
    font-style: normal;
    font-weight: normal;
}
