h2
{
    font-family: 'Cheltenham';
    font-size: 24px;
    margin: 0;
    text-align: justify;
}

h3
{
    text-align: justify;
    font-family: 'Schnyder Scond';
    font-size: 20px;
    margin: 0;
}

h4
{
    text-align: center;
    font-family: 'Magsans';
    font-size: 14px;
    margin: 0;
}

h5
{
    font-family: 'Cheltenham';
    margin: 2px 0;
    font-size: 12px;
    text-align: center;
}

.newspaper
{
    margin: 50px 120px 0;
}

.newspaper__header
{
    width: 1140px;
}

.slogan
{
    border: 2px solid #000;
    width: 170px;
    display: inline-block;
    margin-left: 6px;
}

blockquote p::before
{
    content: '\201C';
}

blockquote p::after
{
    content: '\201D';
}

.slogan-text
{
    font-family: 'Imperial';
    text-align: center;
}

.newspaper-name
{
    display: inline-block;
    font-family: 'Olde English';
    font-size: 90px;
    color: #000;
    margin: 0 0 0 40px;
}

.weather
{
    display: inline-block;
    position: absolute;
    top: 45px;
    margin-left: 86px;
}

.weather-headline
{
    font-family: 'Magsans';
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 2px;
    text-align: center;
}

.weather-content
{
    font-family: 'Cheltenham';
    width: 184px;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 2px;
    text-align: justify;
    hyphens: auto;
}

.meta-info
{
    font-size: 0;
    width: 1140;
}

.meta-info__item
{
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;

    font-size: initial;
}

.meta-info__item_type_release
{
    font-size: 14px;
    font-family: 'Cheltenham Italic';
    font-weight: bold;
    width: 18%;
    margin: 4px 0;
}

.meta-info__item_type_copyright
{
    font-size: 8px;
    font-family: 'Imperial';
    font-weight: bold;
    width: 20%;
    margin: 4px 0;
}

.meta-info__item_type_geotime
{
    font-size: 14px;
    font-family: 'Cheltenham Italic';
    font-weight: bold;
    width: 25%;
    margin: 4px 0;
}

.meta-info__item_type_region-description
{
    font-size: 8px;
    font-family: 'Imperial';
    font-weight: bold;
    width: 18%;
    margin: 4px 0;
}

.meta-info__item_type_region
{
    font-size: 14px;
    font-family: 'Cheltenham';
    font-weight: bold;
    width: 5%;
    margin: 0 0 0 100px;
}

.meta-info__item_type_cost
{
    font-size: 14px;
    font-family: 'Cheltenham Italic';
    font-weight: bold;
    margin: 4px 0;
}

.newspaper__content
{
    font-size: 0;
}

.article1
{
    width: 256px;
    padding-right: 2px;
    border-right: 1px solid #000;
    display: inline-block;
    vertical-align: top;
}

.article1-picture
{
    margin: 0;
    padding-right: 8px;
}

.article1-img
{
    width: 250px;
}

.article1-imgcaption
{
    font-family: 'Magsans';
    font-size: 6px;
    text-align: right;
    font-weight: bold;
}

.border-line-for-column-2
{
    color: #000;
    width: 140px;
    margin-top: 6px;
    margin-bottom: 8px;
}

.article-autor
{
    font-family: 'Cheltenham';
    text-align: center;
    margin: 0;
    font-size: 10px;
    font-weight: bold;
}

.article-autor-description
{
    font-family: 'Cheltenham';
    text-align: center;
    margin: 2px 0 4px;
    font-size: 8px;
}

.article1-columns
{
    content: '';
    clear: both;
    display: table;
}

.left-column
{
    float: left;
    width: 124px;
    padding-right: 1px;
    padding-left: 2px;
    border-right: 1px solid #000;
}

.right-column
{
    padding-left: 2px;
    float: right;
    width: 126px;
}

.column-content
{
    font-family: 'Imperial';
    text-indent: 12px;
    margin: 5px 0 0;
    font-size: 10px;
    hyphens: auto;
    text-align: justify;
}

.article1 .left-column .column-content:nth-child(1)::first-letter,
.first-letter::first-letter
{
    font-size: 20px;
    float: left;
    margin: -9px -12px 0 0;
}

.article2
{
    display: inline-block;
    width: 128px;
    border-right: 1px solid #000;
    padding: 0 2px;
    vertical-align: top;
}

.border-line-for-column
{
    width: 64px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.center-articles
{
    width: 662px;
}

.font-italic
{
    font-family: 'Cheltenham Italic';
}

.center-articles
{
    display: inline-block;
    border-right: 1px solid #000;
}

.article3
{
    padding: 0 8px;
    border-bottom: 1px solid #000;
}

.article3-content
{
    column-count: 3;
    column-gap: 8px;
    padding-top: 8px;
}

.block-warning
{
    font-size: 12px;
    text-align: center;
    padding: 10px;
    border: 1px solid #000;
}

.contiuned-warning
{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: -8px 0 -10px 0;
}

.bottom-articles
{
    padding-top: 2px;
}

.bottom-articles .article2
{
    border-top: 1px solid #000;
    padding-top: 6px;
}

.article4
{
    display: inline-block;
    padding-top: 4px;
}

.article4 h2
{
    padding-left: 6px;
}

.article4-content
{
    padding-top: 8px;
}

.article4 .right-column
{
    width: 130px;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
}

.article4 .right-column:nth-child(2)
{
    width: 132px;
    border-right: none;
}

.no-right-border
{
    border-right: none;
}
