.newspaper
{
    margin-top: 50px;
}

.newspaper-header
{
    width: 1024px;
}

.slogan
{
    border: 2px solid #000;
    width: 170px;
    display: inline-block;
    margin-left: 6px;
}

blockquote p::before
{
    content: '\201C';
}

blockquote p::after
{
    content: '\201D';
}

.slogan-text
{
    font-family: 'Imperial';
    text-align: center;
}

.newspaper-name
{
    display: inline-block;
    font-family: 'Olde English';
    font-size: 90px;
    color: rgb(22, 21, 21);
    margin: 0 0 0 180px;
}

.weather
{
    display: inline-block;
    position: absolute;
    top: 45px;
    right: 12px;
}

.weather-headline
{
    font-family: 'Magsans';
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 2px;
    text-align: center;
}

.weather-content
{
    font-family: 'Cheltenham';
    width: 184px;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 2px;
    text-align: justify;
    hyphens: auto;
}

.weather-footer
{
    font-family: 'Cheltenham';
    width: 180px;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.line-information
{
    display: inline-block;
    margin: 0;
}

.article1
{
    width: 256px;
    text-align: justify;
    padding-right: 2px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.article1-picture
{
    margin: 0;
    padding-right: 8px;
}

.article1-img
{
    width: 250px;
}

.article1-imgcaption
{
    font-family: 'Magsans';
    font-size: 6px;
    text-align: right;
    font-weight: bold;
}

h2
{
    font-family: 'Cheltenham';
    font-size: 24px;
    margin: 0;
}

h5
{
    font-family: 'Cheltenham';
    margin: 0;
    font-size: 12px;
    text-align: center;
}

.border-line-for-column-2
{
    color: #000;
    width: 140px;
}

.article-autor
{
    font-family: 'Cheltenham';
    text-align: center;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}

.article-autor-description
{
    font-family: 'Cheltenham';
    text-align: center;
    margin: 2px 0 4px;
    font-size: 8px;
}

.article1-columns
{
    content: '';
    clear: both;
    display: table;
}

.left-column
{
    float: left;
    width: 126px;
    padding-right: 1px;
    padding-bottom: 4px;
    border-right: 1px solid #000;
}

.right-column
{
    padding-left: 2px;
    float: right;
    width: 126px;
}

.column-content
{
    font-family: 'Imperial';
    text-indent: 12px;
    margin: 0;
    font-size: 10px;
    hyphens: auto;
}

.left-column .column-content:nth-child(1)::first-letter
{
    font-size: 20px;
    float: left;
    margin: -9px -15px 0 0;
}
