.slogan
{
    border: 2px solid #000;
    width: 200px;
    display: inline-block;
}

blockquote p::before
{
    content: '\201C';
}

blockquote p::after
{
    content: '\201D';
}

.slogan-text
{
    text-align: center;
}

.newspaper-name
{
    display: inline-block;
    font-family: 'Olde English';
    font-size: 90px;
    color: rgb(22, 21, 21);
    margin: 0;
}

.weather
{
    display: inline-block;
}

.line-information
{
    display: inline-block;
    margin: 0;
}

.article1
{
    width: 256px;
    text-align: justify;
    padding-right: 2px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.article1-picture
{
    margin: 0;
    padding-right: 8px;
}

.article1-img
{
    width: 250px;
}

.article1-imgcaption
{
    font-family: 'Magsans';
    font-size: 6px;
    text-align: right;
    font-weight: bold;
}

h2
{
    font-family: 'Cheltenham';
    font-size: 24px;
    margin: 0;
}

h5
{
    font-family: 'Cheltenham';
    margin: 0;
    font-size: 12px;
    text-align: center;
}

.border-line-for-column-2
{
    color: #000;
    width: 140px;
}

.article-autor
{
    font-family: 'Cheltenham';
    text-align: center;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}

.article-autor-description
{
    font-family: 'Cheltenham';
    text-align: center;
    margin: 4px 0 0;
    font-size: 8px;
}

.article1-columns
{
    content: '';
    clear: both;
    display: table;
}

.left-column
{
    float: left;
    width: 126px;
    padding-right: 1px;
    padding-bottom: 4px;
    border-right: 1px solid #000;
}

.right-column
{
    padding-left: 2px;
    float: right;
    width: 126px;
}

.column-content
{
    font-family: 'Imperial';
    text-indent: 12px;
    margin: 0;
    font-size: 10px;
}
